* {
    font-family: 'Playfair Display', serif;
}

body {
    background-color: rgb(243, 243, 243);
}

img {
    width: 100%;
    /* height: 100%; */
}

.sign {
    background-color: rgb(224, 224, 224);
    height: 250px;
}

.valid-form {
 background-color: transparent;
}